In [1]:
import numpy as np
import pandas as pd

In [3]:
world_happiness = {'country':['Finland', 'Denmark', 'Norway', 'Iceland', 'Netherlands',
       'Switzerland', 'Sweden', 'New Zealand', 'Canada', 'Austria',
       'Australia', 'Costa Rica', 'Israel', 'Luxembourg',
       'United Kingdom', 'Ireland', 'Germany', 'Belgium', 'United States',
       'Czech Republic', 'United Arab Emirates', 'Malta', 'Mexico',
       'France', 'Chile', 'Guatemala', 'Saudi Arabia', 'Spain', 'Panama',
       'Brazil', 'Uruguay', 'El Salvador', 'Italy', 'Trinidad and Tobago',
       'Poland', 'Uzbekistan', 'Lithuania', 'Colombia', 'Slovenia',
       'Nicaragua', 'Argentina', 'Romania', 'Cyprus', 'Ecuador', 'Kuwait',
       'Thailand', 'Latvia', 'South Korea', 'Estonia', 'Jamaica',
       'Mauritius', 'Japan', 'Honduras', 'Kazakhstan', 'Bolivia',
       'Hungary', 'Paraguay', 'Peru', 'Portugal', 'Pakistan', 'Russia',
       'Philippines', 'Serbia', 'Moldova', 'Montenegro', 'Tajikistan',
       'Croatia', 'Dominican Republic', 'Turkey', 'Malaysia', 'Belarus',
       'Greece', 'Mongolia', 'Nigeria', 'Turkmenistan', 'Algeria',
       'Morocco', 'Azerbaijan', 'Lebanon', 'Indonesia', 'China',
       'Vietnam', 'Cameroon', 'Bulgaria', 'Ghana', 'Nepal', 'Jordan',
       'Benin', 'Gabon', 'South Africa', 'Albania', 'Venezuela',
       'Cambodia', 'Senegal', 'Namibia', 'Niger', 'Burkina Faso',
       'Armenia', 'Iran', 'Guinea', 'Georgia', 'Gambia', 'Kenya',
       'Mauritania', 'Mozambique', 'Tunisia', 'Bangladesh', 'Iraq',
       'Mali', 'Sierra Leone', 'Sri Lanka', 'Myanmar', 'Chad', 'Ukraine',
       'Ethiopia', 'Swaziland', 'Uganda', 'Egypt', 'Zambia', 'Togo',
       'India', 'Liberia', 'Madagascar', 'Lesotho', 'Zimbabwe', 'Haiti',
       'Botswana', 'Malawi', 'Yemen', 'Rwanda', 'Tanzania', 'Afghanistan',
       'Central African Republic'], 
                   
                   'social_support': [  2,   4,   3,   1,  15,  13,  25,   5,  20,  31,   7,  42,  38,
        27,   9,   6,  39,  22,  37,  24,  72,  16,  67,  32,  58,  78,
        62,  26,  41,  43,  35,  83,  23,  29,  44,  11,  17,  52,  14,
        66,  46,  86,  90,  71,  69,  53,  34,  91,  12,  28,  54,  50,
        84,  19,  93,  51,  30,  77,  47, 130,  40,  75,  57,  65,  60,
       113,  79,  55,  61,  97,  33, 102,  10, 111,   8, 101, 139, 104,
        89,  94, 108,  64, 129,  18, 132,  87,  88, 153,  95,  63, 133,
        49, 109, 106,  70, 140, 116, 117, 134, 136, 147, 125, 123,  99,
       122, 121, 126, 124, 112, 135,  80,  96, 141,  56, 119, 103, 114,
       118, 115, 149, 142, 127, 128,  98, 110, 146, 105, 150, 100, 144,
       131, 151, 155], 
                   
                   'freedom': [  5,   6,   3,   7,  19,  11,  10,   8,   9,  26,  17,  16,  93,
        28,  63,  33,  44,  53,  62,  58,   4,  12,  71,  69,  98,  25,
        68,  95,  32,  84,  30,  74, 132,  51,  52,   1, 122,  56,  13,
        70,  54,  57,  81,  42,  47,  18, 126, 144,  45,  49,  40,  64,
        39,  80,  35, 138,  34,  61,  37, 114, 107,  15, 124, 128, 139,
        86, 118,  43, 140,  36, 131, 150, 112,  75,  83, 149,  76, 101,
       136,  48,  31,  23,  90, 115,  91,  67,  88, 103, 119,  85,  87,
       145,   2, 121,  82, 111, 127, 123, 117, 109, 104,  89,  72, 151,
        46, 143,  27, 130, 110, 116,  55,  29, 142, 141, 106, 113,  99,
       129,  73, 120,  41,  94, 146,  97,  96, 152,  60,  65, 147,  21,
        78, 155, 133], 
                   
                   'corruption': [  4.,   3.,   8.,  45.,  12.,   7.,   6.,   5.,  11.,  19.,  13.,
        58.,  74.,   9.,  15.,  10.,  17.,  20.,  42., 121.,  'nan',  32.,
        87.,  21.,  99.,  82.,  'nan',  78., 104.,  71.,  33.,  85., 128.,
       141., 108.,  18., 113., 124.,  97.,  43., 109., 146., 115.,  68.,
        'nan', 131.,  92., 100.,  30., 130.,  96.,  39.,  79.,  57.,  91.,
       140.,  76., 132., 135.,  55., 127.,  49., 118., 148.,  77.,  35.,
       139.,  52.,  50., 137.,  37., 123., 119., 114.,  'nan',  46.,  84.,
        22., 133., 129.,  'nan',  86., 120., 147., 117.,  65.,  'nan',  75.,
       103., 102., 134., 110.,  94.,  88.,  98.,  51.,  47.,  93.,  44.,
        70.,  28.,  26., 105.,  67.,  40., 101.,  36.,  66., 107., 112.,
       111.,  24.,  80., 143.,  53.,  41.,  95.,  89.,  69.,  72.,  73.,
       126., 116.,  59.,  63.,  48.,  54.,  64.,  83.,   2.,  34., 136.,
       122.], 
                   
                   'generosity': [ 47,  22,  11,   3,   7,  16,  17,   8,  14,  25,   6,  75,  24,
        30,   4,   9,  19,  44,  12, 117,  15,   5, 120,  68,  45,  78,
        82,  50,  88, 108,  80, 134,  48,  41,  77,  29, 124, 111,  54,
        71, 123, 102,  39,  95,  42,  10, 105,  40,  83, 119,  37,  92,
        51,  57, 104, 100,  67, 126, 122,  58, 101, 115,  84,  86,  76,
        72,  81,  93,  98,  27, 103, 152,  38,  59,  33, 128, 154, 146,
        63,   2, 133,  97,  91, 112,  52,  46, 118, 116, 143,  89,  60,
       139,  61, 130, 142, 135, 125, 129,  28,  94, 153,  64,  26, 148,
       121, 144, 107,  73, 138,  79,  35,   1, 106,  66,  99, 145,  74,
       132,  53, 131,  65, 110, 136, 151, 141,  20, 150, 109, 155,  90,
        49, 137, 113],
       
                   'gdp_per_cap': [42400, 48300, 66300, 47900, 50500, 59000, 47200, 36500, 44200,
       46900, 45500, 15800, 34100, 94300, 40400, 72400, 46200, 43500,
       56700, 34100, 65700, 39300, 18000, 40000, 23000,  7610, 48100,
       35700, 23300, 14300, 20900,  7510, 35800, 28500, 29900,  6490,
       32400, 13600, 33700,  4620, 17500, 25500, 34500, 10200, 64100,
       17400, 27300, 37300, 32000,  8310, 21800, 39700,  4630, 25400,
        7150, 29600, 12000, 13000, 29300,  5000, 25700,  8260, 16700,
        6720, 17800,  3150, 24500, 16400, 25000, 29100, 18000, 25700,
       12800,  5300, 17600, 14000,  7770, 16200, 11700, 12100, 17100,
        6970,  3400, 20200,  4430,  2880,  8350,  2230, 16200, 12000,
       12700,  9720,  4080,  3460,  9700,   954,  1810,  9730, 16100,
        2420, 10700,  1570,  3160,  3890,  1170, 11100,  4140, 15700,
        2100,  1460, 12100,  6270,  1740,  8480,  1900,  9560,  1870,
       11400,  3700,  1610,  7230,  1140,  1490,  2920,  2390,  1640,
       16800,  1180,  2340,  2110,  2980,  1760,   794] , 
                   
                   'life_exp': [81.8, 81. , 82.6, 83. , 81.8, 84.3, 82.8, 81.9, 82.2, 82. , 82.7,
       79.8, 83.3, 82. , 81.1, 82.3, 80.9, 81.7, 78.6, 79.5, 73.6, 81.3,
       75.6, 83.1, 80. , 73.1, 77.1, 83.3, 79.7, 75.9, 77.3, 74.5, 83.5,
       74.5, 78.4, 70.7, 75.4, 80.5, 81.4, 79.2, 77. , 75.4, 82. , 77.2,
       83.3, 78.6, 75.4, 83. , 78.5, 74.9, 75. , 84.5, 74.3, 72.8, 73.3,
       77.2, 76.4, 80.8, 81.8, 67.2, 72.5, 70. , 76. , 73.1, 76.7, 70.8,
       78.8, 73.5, 79.5, 75. , 74.5, 81.3, 69.3, 65.2, 70.3, 78.1, 74.4,
       71.1, 78.1, 71.9, 77.5, 74.7, 63.8, 75.1, 66.1, 71.5, 79.6, 65.3,
       69. , 66.9, 78.5, 75.1, 70.4, 68.6, 67.2, 63.2, 62.5, 75.9, 77.8,
       61.6, 73.2, 66.4, 66.7, 71. , 59.9, 78.7, 73.7, 77.1, 62.9, 61.3,
       77.8, 69.1, 60.6, 70.8, 69.1, 61.8, 66.6, 71. , 64. , 65. , 69.5,
       65.2, 64.2, 56.1, 62. , 65.7, 69.8, 64.2, 68.1, 69.1, 67.7, 64.1,
       52.9], 
                   
                   'happiness_score': [155, 154, 153, 152, 151, 150, 149, 148, 147, 146, 145, 144, 143,
       142, 141, 140, 139, 138, 137, 136, 135, 134, 133, 132, 130, 129,
       128, 126, 125, 124, 123, 121, 120, 117, 116, 115, 114, 113, 112,
       111, 109, 108, 107, 106, 105, 104, 103, 102, 101, 100,  99,  98,
        97,  96,  95,  94,  93,  91,  90,  89,  88,  87,  86,  85,  83,
        82,  81,  79,  77,  76,  75,  74,  73,  71,  69,  68,  67,  66,
        65,  64,  63,  62,  60,  59,  58,  56,  55,  54,  52,  50,  49,
        48,  47,  45,  43,  42,  41,  40,  39,  38,  37,  36,  35,  34,
        33,  32,  31,  30,  28,  27,  26,  25,  24,  23,  22,  21,  20,
        19,  18,  17,  16,  15,  13,  12,  10,   9,   8,   6,   5,   4,
         3,   2,   1] ,
                  
                  'grams_sugar_per_day': [ 86.8, 152. , 120. , 132. , 122. , 166. , 115. , 162. , 132. ,
       124. , 126. , 144. ,  76.2, 141. , 113. , 126. , 133. , 144. ,
       175. , 118. , 101. , 168. , 133. , 107. , 131. , 132. ,  86.8,
        85.6,  95.3, 117. , 111. , 113. ,  88. , 162. , 122. ,  27.6,
       130. , 160. ,  75.1, 116. , 132. ,  70.1, 101. ,  63.3, 106. ,
       109. , 117. , 105. ,  86.5, 135. ,  96. ,  74.2, 131. ,  78.4,
        75.2,  95. ,  69.6,  62.9,  78. ,  76. , 134. ,  64.6,  77.1,
        64.6, 131. ,  51.9, 118. ,  95.3,  87.3, 121. , 107. ,  80.3,
        40.3,  29.4,  24.6,  78.2, 109. ,  50.5, 123. ,  46.5,  18.8,
        27.4,  27.2,  78.7,  40.5,  13. , 128. ,  21.4,  42.6, 101. ,
       131. , 106. ,  51.5,  50. ,  55.4,  14.5,  20.3,  97.4,  79.8,
        27.2,  93.1,  72.2,  43.7,  99.2,  30.7,  95.5,  22.1,  52.8,
        28.1,  16.5,  73.4,  46.2,  29.1, 126. ,  18.1,  95.3,  32.4,
        78. ,  28.1,  33.3,  64.2,  15.5,  20.3,  45.5,  80.6,  45.8,
        85. ,  22.6,  77.9,  14.1,  28. ,  24.5,  22.4]}

In [4]:
world_happiness_new = pd.DataFrame(world_happiness)
world_happiness_new

,country,social_support,freedom,corruption,generosity,gdp_per_cap,life_exp,happiness_score,grams_sugar_per_day
0,Finland,2,5,4.0,47,42400,81.8,155,86.8
1,Denmark,4,6,3.0,22,48300,81.0,154,152.0
2,Norway,3,3,8.0,11,66300,82.6,153,120.0
3,Iceland,1,7,45.0,3,47900,83.0,152,132.0
4,Netherlands,15,19,12.0,7,50500,81.8,151,122.0
...,...,...,...,...,...,...,...,...,...
128,Yemen,100,147,83.0,155,2340,68.1,5,77.9
129,Rwanda,144,21,2.0,90,2110,69.1,4,14.1
130,Tanzania,131,78,34.0,49,2980,67.7,3,28.0
131,Afghanistan,151,155,136.0,137,1760,64.1,2,24.5
132,Central African Republic,155,133,122.0,113,794,52.9,1,22.4

In [5]:
world_happiness_new.to_csv('world_happiness_new.csv', index=False)

In [2]:
index = ['6/26/2011', '7/3/2011', '7/10/2011', '7/17/2011', '7/24/2011',
       '7/31/2011', '8/7/2011', '8/14/2011', '8/21/2011', '8/28/2011',
       '9/4/2011', '9/11/2011', '9/18/2011', '9/25/2011', '10/2/2011',
       '10/9/2011', '10/16/2011', '10/23/2011', '10/30/2011', '11/6/2011',
       '11/13/2011', '11/20/2011', '11/27/2011', '12/4/2011',
       '12/11/2011', '12/18/2011', '12/25/2011', '1/1/2012', '1/8/2012',
       '1/15/2012', '1/22/2012', '1/29/2012', '2/5/2012', '2/12/2012',
       '2/19/2012', '2/26/2012', '3/4/2012', '3/11/2012', '3/18/2012',
       '3/25/2012', '4/1/2012', '4/8/2012', '4/15/2012', '4/22/2012',
       '4/29/2012', '5/6/2012', '5/13/2012', '5/20/2012', '5/27/2012',
       '6/3/2012', '6/10/2012', '6/17/2012', '6/24/2012', '7/1/2012',
       '7/8/2012', '7/15/2012', '7/22/2012', '7/29/2012', '8/5/2012',
       '8/12/2012', '8/19/2012', '8/26/2012', '9/2/2012', '9/9/2012',
       '9/16/2012', '9/23/2012', '9/30/2012', '10/7/2012', '10/14/2012',
       '10/21/2012', '10/28/2012', '11/4/2012', '11/11/2012',
       '11/18/2012', '11/25/2012', '12/2/2012', '12/9/2012', '12/16/2012',
       '12/23/2012', '12/30/2012', '1/6/2013', '1/13/2013', '1/20/2013',
       '1/27/2013', '2/3/2013', '2/10/2013', '2/17/2013', '2/24/2013',
       '3/3/2013', '3/10/2013', '3/17/2013', '3/24/2013', '3/31/2013',
       '4/7/2013', '4/14/2013', '4/21/2013', '4/28/2013', '5/5/2013',
       '5/12/2013', '5/19/2013', '5/26/2013', '6/2/2013', '6/9/2013',
       '6/16/2013', '6/23/2013', '6/30/2013', '7/7/2013', '7/14/2013',
       '7/21/2013', '7/28/2013', '8/4/2013', '8/11/2013', '8/18/2013',
       '8/25/2013', '9/1/2013', '9/8/2013', '9/15/2013', '9/22/2013',
       '9/29/2013', '10/6/2013', '10/13/2013', '10/20/2013', '10/27/2013',
       '11/3/2013', '11/10/2013', '11/17/2013', '11/24/2013', '12/1/2013',
       '12/8/2013', '12/15/2013', '12/22/2013', '12/29/2013', '1/5/2014',
       '1/12/2014', '1/19/2014', '1/26/2014', '2/2/2014', '2/9/2014',
       '2/16/2014', '2/23/2014', '3/2/2014', '3/9/2014', '3/16/2014',
       '3/23/2014', '3/30/2014', '4/6/2014', '4/13/2014', '4/20/2014',
       '4/27/2014', '5/4/2014', '5/11/2014', '5/18/2014', '5/25/2014',
       '6/1/2014', '6/8/2014', '6/15/2014', '6/22/2014', '6/29/2014',
       '7/6/2014', '7/13/2014', '7/20/2014', '7/27/2014', '8/3/2014',
       '8/10/2014', '8/17/2014', '8/24/2014', '8/31/2014', '9/7/2014',
       '9/14/2014', '9/21/2014', '9/28/2014', '10/5/2014', '10/12/2014',
       '10/19/2014', '10/26/2014', '11/2/2014', '11/9/2014', '11/16/2014',
       '11/23/2014', '11/30/2014', '12/7/2014', '12/14/2014',
       '12/21/2014', '12/28/2014', '1/4/2015', '1/11/2015', '1/18/2015',
       '1/25/2015', '2/1/2015', '2/8/2015', '2/15/2015', '2/22/2015',
       '3/1/2015', '3/8/2015', '3/15/2015', '3/22/2015', '3/29/2015',
       '4/5/2015', '4/12/2015', '4/19/2015', '4/26/2015', '5/3/2015',
       '5/10/2015', '5/17/2015', '5/24/2015', '5/31/2015', '6/7/2015',
       '6/14/2015', '6/21/2015', '6/28/2015', '7/5/2015', '7/12/2015',
       '7/19/2015', '7/26/2015', '8/2/2015', '8/9/2015', '8/16/2015',
       '8/23/2015', '8/30/2015', '9/6/2015', '9/13/2015', '9/20/2015',
       '9/27/2015', '10/4/2015', '10/11/2015', '10/18/2015', '10/25/2015',
       '11/1/2015', '11/8/2015', '11/15/2015', '11/22/2015', '11/29/2015',
       '12/6/2015', '12/13/2015', '12/20/2015', '12/27/2015', '1/3/2016',
       '1/10/2016', '1/17/2016', '1/24/2016', '1/31/2016', '2/7/2016',
       '2/14/2016', '2/21/2016', '2/28/2016', '3/6/2016', '3/13/2016',
       '3/20/2016', '3/27/2016', '4/3/2016', '4/10/2016', '4/17/2016',
       '4/24/2016', '5/1/2016', '5/8/2016', '5/15/2016', '5/22/2016',
       '5/29/2016', '6/5/2016', '6/12/2016', '6/19/2016']

In [5]:
a = [ 70,  71,  73,  74,  72,  72,  67,  69,  67,  66,  66,  69,  68,
        68,  65,  67,  65,  64,  65,  65,  66,  56,  68,  59,  56,  52,
        68, 100,  88,  81,  79,  77,  76,  71,  79,  78,  76,  75,  75,
        73,  72,  75,  79,  77,  76,  75,  74,  73,  72,  71,  71,  72,
        74,  71,  75,  76,  76,  75,  75,  74,  73,  69,  70,  70,  70,
        67,  66,  63,  65,  61,  59,  61,  62,  54,  62,  61,  56,  48,
        55,  88,  92,  81,  79,  79,  77,  73,  80,  85,  80,  78,  79,
        75,  76,  80,  76,  81,  79,  76,  75,  74,  74,  74,  74,  73,
        71,  68,  76,  71,  72,  73,  73,  72,  71,  66,  71,  69,  69,
        65,  65,  65,  66,  64,  62,  64,  65,  63,  52,  59,  55,  50,
        52,  83,  97,  82,  76,  73,  73,  68,  72,  73,  78,  72,  72,
        74,  72,  72,  70,  73,  74,  72,  70,  67,  67,  68,  66,  66,
        65,  62,  66,  64,  64,  63,  66,  64,  63,  60,  62,  60,  65,
        61,  62,  59,  58,  57,  58,  61,  58,  57,  49,  57,  53,  48,
        46,  71,  86,  79,  70,  66,  65,  64,  64,  67,  68,  68,  69,
        69,  64,  68,  68,  71,  67,  67,  67,  63,  63,  65,  66,  63,
        61,  59,  62,  61,  64,  62,  64,  63,  61,  59,  58,  59,  59,
        57,  57,  58,  57,  57,  56,  58,  55,  53,  48,  52,  52,  48,
        44,  63,  83,  74,  71,  70,  67,  63,  63,  66,  65,  66,  64,
        63,  65,  67,  68,  67,  67,  64,  65,  64,  62,  62,  62,  58,
        58]

In [15]:
diet = pd.DataFrame(data = a, index = index, columns=["diet"])
diet.index.name = "Date"
diet

           diet
Date
6/26/2011    70
7/3/2011     71
7/10/2011    73
7/17/2011    74
7/24/2011    72
...         ...
5/22/2016    62
5/29/2016    62
6/5/2016     62
6/12/2016    58
6/19/2016    58

[261 rows x 1 columns]

In [17]:
diet.to_csv("diet.csv", index=False)